.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  
  
}
#name {
color:rgb(219, 241, 243);
}
#search {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #e1e5eb;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(78, 76, 76, 0.1);
  width: 400px;

}